.heading{
    background-color: var(--primary-color);
    color: var(--text-color-secondary);
    padding: 0.5rem 1rem;
}
.list-non-bullet{
    list-style: none;
}

.list-item-inline {
    display: inline-block;
    padding: 0 .875rem;
}

.link {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-weight: 700;
    letter-spacing: 1px;
}

.cursor:hover {
    opacity: .5;
}