/* @import url("https://uilight.netlify.app/main.css"); */

@import url("./styles/style.css");

:root {
  --bg-color:#BDD9BF;
  --primary-color:#14213D;
  --secondary-color: #FFC857;
  --accent-color: grey;
  --text-color-primary: black;
  --green-badge: #22c55e;
  --text-color-secondary:#f8f7f8;
  --red-badge: #dc2626;
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}